.couner {
    padding-top: 27px;
    padding-bottom: 25px;
    border-radius: 5px;
    margin-bottom: 27px;
    background-color: #6617cb;
background-image: linear-gradient(315deg, #6617cb 0%, #cb218e 74%);
}

.count-title {
    color: white;
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.fa-2x {
    float: none;
    display: table;
    color: black;
}